*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}


.navbar img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 20px;
}


.navbar{
    
    width: 100%;
    height: 150px;
    
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
   background-color: black;
   border-bottom: 2px solid #e9c2a1;
}

.navbar ul {

    
    display: flex;
    list-style-type: none;
    justify-content: space-between;
 text-align: center;
 padding: 30px;
}


.navbar ul li{
    width: 115px;
    height: 20px;
    text-align: center;
    padding: 30px;
    font-size: large;
    
}


.navbar ul li a{
    text-decoration: none;
    color:  #e9c2a1;
}

.navbar ul li a:hover{
    background-color:#e9c2a1;
    color: #563e3e;
    border-radius: 20px;
    padding: 3px;

    border: 2px #563e3e solid ;
}


.contact-head{
    background-color: black;
    color: #e9c2a1;text-align: center;
    padding: 20px;
    

}

textarea{
  width: 450px;
  height: 200px; 
  padding: 5px;
  border:#e9c2a1 2px solid;
    color: #e9c2a1;

    background-color: black;
}



.contact{
    padding: 100px;

    margin: 10px;

    text-align: center;
}



.contact .buttons{
  display: flex;
  text-align: center;
  justify-content: center;

  


}

button{
    color: #e9c2a1;
    background-color: #563e3e;
    padding: 10px;
    border-radius: 10px;


}

button:hover{
    background-color: #e9c2a1;
    color: #563e3e;
}

input{
    margin: 10px;
    padding: 5px;
    border:#e9c2a1 2px solid;
    color: #e9c2a1;

    background-color: black;
}



.contact .buttons > *{
    margin: 10px;
}






label{
    display: block;
    color:#e9c2a1;
}
button{
    display: block;
}











footer {
    text-align: center;
    color: #e9c2a1;
    background-color: black;
    
    padding: 20px 10px;
    font-size: small;
    
}











@media (min-width:375px) and (max-width:600px) {
    

    *{
    margin: 0;
    padding: 0;
}


    .navbar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
}

.navbar ul li{
    width: fit-content;
    height: 10px;
    text-align: center;
    padding:15px 10px;
    font-size: small;
    
}
.navbar ul li a{
    width: fit-content;
    height: 10px;
    text-align: center;
    padding:20px 10px;
    font-size: small;
    
}

.navbar ul {
    
 padding: 5px;
}



.navbar{
    height: 60px;
}



footer{
    font-size: smaller;
}
textarea{

    width: 225px;
    height: 100px;
    border:#e9c2a1 2px solid;

}

input{
    margin: 2px;
    padding: 2px;

    border:#e9c2a1 2px solid;
}


.contact{
    padding:20px;
}



button{
    padding: 2px;
    font-size: small;
}

.contact-head h1{
    font-size: small;
    
}





}



@media (min-width:600px) and (max-width:768px) {
        .navbar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
}

.navbar ul li{
    width: fit-content;
    height: 10px;
    text-align: center;
    padding:15px 10px;
    font-size: small;
    
}
.navbar ul li a{
    width: fit-content;
    height: 10px;
    text-align: center;
    padding:20px 10px;
    font-size: small;
    
}

.navbar ul {
    
 padding: 5px;
}


.navbar{
    height: 60px;
}

}