*{
    margin: 0;
    padding: 0;
}



.navbar img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 20px;
}


.navbar{
    
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
   background-color: black;
   border-bottom: 2px solid #e9c2a1;
}

.navbar ul {

    
    display: flex;
    list-style-type: none;
    justify-content: space-between;
 text-align: center;
 padding: 30px;
}


.navbar ul li{
    width: 115px;
    height: 20px;
    text-align: center;
    padding: 30px;
    font-size: large;
    
}


.navbar ul li a{
    text-decoration: none;
    color:  #e9c2a1;
}

.navbar ul li a:hover{
    background-color:#e9c2a1;
    color: #563e3e;
    border-radius: 20px;
    padding: 3px;

    border: 2px #563e3e solid ;
}

/* 
main image styles */

.main-image img{
    width: 100%;
  
    height: 600px;
    
}

.main-image{
    height: 600px;
    
}


.main-image-content{
     position: absolute;
    top: 30%;
    left: 60%;
    font-family:Arial, Helvetica, sans-serif;
    
    color: #e9c2a1;
    text-align: center;
    padding: 10px;
    font-size: small;
   
}

.main-image-content h2{
    padding: 20px;
}
.main-image-content h1{
    padding: 20px;
}


.products-show{
    display: flex;
    
    
    justify-content: space-around;
    background-color: black;
    flex-wrap: wrap;
    padding: 20px;
}

.pro-head{
    background-color: black;
    color: #e9c2a1;
    text-align: center;
    padding: 10px;
      border-top: 2px solid #e9c2a1;
    border-bottom: 2px solid #e9c2a1;
}
.product{
    background-color: #563e3e;
    text-align: center;

    width:fit-content;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #563e3e;
    
}


.product:hover{
    background-color: #e9c2a1;
    
}


.product img{
    width: 200px;
    height: 200px;
    border: #563e3e solid 3px;
    object-fit: cover;
}
.product:hover p{
    
    color: #563e3e;


}

.product p{
    padding: 10px;
    margin: 5px;
    color: #e7ded7;

}

.product button{
    margin: 10px;
    padding: 5px; 
    background-color:#563e3e ; 
    border-radius: 10px;
    color: #e7ded7;
    border:2px solid #e7ded7;

}


.product button:hover{
    background-color: #8a725e;
}
.aboutus{
    text-align: center;

    color:#e9c2a1 ;

    height: 400px;

    background-color: #563e3e;
}

.aboutus h1{
    padding: 20px;
    margin: 0;
         border-top: 2px solid #e9c2a1;
    border-bottom: 2px solid #e9c2a1;
}


.aboutus h3{
    padding: 20px;
    margin: 20px;
   
}
.aboutus button{
    background-color: #e9c2a1;
    border-radius: 10px;
    text-decoration: none;
    color: #563e3e;
    padding: 10px;
    border: 2px solid #e9c2a1;

    
}

.aboutus button:hover{
    color: #e9c2a1;
    background-color: #563e3e;

    border: 2px solid #e9c2a1;
}


footer {
    text-align: center;
    color: #e9c2a1;
    background-color: black;
}



@media (min-width:375px) and (max-width:600px) {
    

    *{
    margin: 0;
    padding: 0;
}


    .navbar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
}

.navbar ul li{
    width: fit-content;
    height: 10px;
    text-align: center;
    padding:15px 10px;
    font-size: small;
    
}
.navbar ul li a{
    width: fit-content;
    height: 10px;
    text-align: center;
    padding:20px 10px;
    font-size: small;
    
}


.navbar ul {
    
 padding: 5px;
}


/* 
main image styles */


.main-image-content{
     position: absolute;
    top: 20%;
    left: 60%;
    
    color:#e9c2a1;
    text-align: center;
    padding: 10px;
    font-size: small;
   
}

.main-image-content h1{
    padding: 10px;
    font-size: medium;
}

.main-image-content h2{
    padding: 10px;
    font-size: medium;
}




.main-image img{
    width: 100%;
  
    height: 400px;
    
}

.main-image{
    height: 400px;
    
}


body{
    background-color: black;
}


.products-show{
    display: flex;
    
    justify-content: space-around;
    background-color: black;
    flex-wrap: wrap;
    

        
    width: 300px;
    margin: 10px auto;
       
    padding: 20px;
    
}

.pro-head{
    background-color: black;
    color: #e9c2a1;
    text-align: center;
    font-size: x-small ;
    padding: 10px;
    border-top: 2px solid #e9c2a1;
    border-bottom: 2px solid #e9c2a1;
}
.product{
    background-color: #563e3e;
    text-align: center;

    width:fit-content;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #563e3e;
    
}


.product:hover{
    background-color: #e9c2a1;
    
}


.product img{
    width: 100px;
    height: 100px;
    border: #563e3e solid 2px;
    object-fit: cover;
}
.product:hover p{
    
    color: #563e3e;


}

.product p{
    padding: 5px;
    margin: 3px;
    color: #e7ded7;

}

.product button{
    margin: 5px;
    padding: 5px; 
    background-color:#563e3e ; 
    border-radius: 10px;
    color: #e7ded7;
    border:1px solid #e7ded7;

}


.product button:hover{
    background-color: #8a725e;
}
.aboutus{
    text-align: center;

    color:#e9c2a1 ;

    height: 400px;

    background-color: #563e3e;
}


.aboutus h1{
    font-size: medium;
}

.aboutus h3{
    font-size: small;
}

.aboutus button{
    background-color: #e9c2a1;
    border-radius: 10px;
    text-decoration: none;
    color: #563e3e;
    padding:2px;
    border: 2px solid #e9c2a1;

}


footer {
    font-size: smaller;
}







}



@media (min-width:600px) and (max-width:768px) {
        .navbar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
}

.navbar ul li{
    width: fit-content;
    height: 10px;
    text-align: center;
    padding:15px 10px;
    font-size: small;
    
}
.navbar ul li a{
    width: fit-content;
    height: 10px;
    text-align: center;
    padding:20px 10px;
    font-size: small;
    
}

.navbar ul {
    
 padding: 5px;
}


.navbar{
    height: 60px;
}

}